<div [@routerTransition]>
    <app-page-header [heading]="'Question List'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <!-- <div class="col col-xl-12 col-lg-12 btnDiv">
            <button style="margin-right: 20px;" class="addBtn cursorPointer" title="Export Excel"
                data-toggle="modal">Export Excel</button>
            <button class="addBtn cursorPointer" title="Add" data-toggle="modal" data-target="#exampleModal"
                data-whatever="@getbootstrap"><img src="assets/images/add-employee.png" /></button>
        </div> -->
    </div>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div>
                <mat-form-field class="searchDiv">
                    <input matInput class="form-control form-control-sm searchImg cstmInput"
                        placeholder="Search by all field name " (keyup)="applyFilter($event.target.value)"
                        placeholder="Filter">
                </mat-form-field>
            </div>
            <div class="fullDiv">
                <table mat-table [dataSource]="dataSource" matSort #sort="matSort" class="mat-elevation-z8">
                    <ng-container matColumnDef="Sno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sno. </th>
                        <td mat-cell *matCellDef="let element">{{element.Sno}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Question">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Question</th>
                        <td mat-cell *matCellDef="let element">{{element.MainCategoryName}}</td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="SubCategoryName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>SubCategoryName</th>
                        <td mat-cell *matCellDef="let element">{{element.SubCategoryName}}</td>
                    </ng-container> -->
                    <ng-container matColumnDef="Image">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
                        <td mat-cell *matCellDef="let element"> <img [src]="element.Image" height="40" /></td>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Question Reply</th>
                        <td mat-cell *matCellDef="let element">
                            <img src="assets/images/edit_icon.png" class="editIcon" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@getbootstrap">
                            
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>


    <!-----------addBtn-------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modalDialog" role="document">
            <div class="modal-content">
                <div class="modal-header cstmModalHeader">
                    <h5 class="modal-title modalTitle" id="exampleModalLabel"> Reply Question </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- <meter value="2" min="0" max="10" class="meterTag2 colorStyle"></meter> -->
                <div class="modal-body">
                    <form [formGroup]="addroleformGroup" (keypress)="($event.charCode==13)?onSubmit():''">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="recipient-name" class="col-form-label cstmLabel">Question:<span
                                        style="color: red;">*</span></label>
                                <input type="text" id="number" class="form-control inputStyle" name="number"
                                    formControlName="roleName" [(ngModel)]="roleName" />
                            </div>
                            <div class="col-md-6">
                                <label for="recipient-name" class="col-form-label cstmLabel">Reply Ans:<span
                                        style="color: red;">*</span></label>
                                <input type="text" id="number" class="form-control inputStyle" name="number"
                                    formControlName="roleName" [(ngModel)]="roleName" />
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style=" width: 100%;text-align: center;">
                        <button type="button" class="btn btn-primary submitBtnStyle" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>